<footer class="footer">
    <div class="footer__container container">
      <div class="footer__top"><a class="footer__logo" href="/"><img class="image" data-src="/themes/itome/assets/img/logo_white.svg" alt="" data-lazy=""/></a>
        <div class="footer__top_wrap"> <a class="footer__top_link" href="tel:8 (423) 202-90-08">8 (423) 202-90-08</a>
          <p class="footer__top_text">Ежедневно · с 10:00 до 20:00	</p>
        </div>
      </div>
      <div class="footer__content"> 
        <div class="footer__column">
          <p class="footer__caption">Навигация</p><a class="footer__link" href="#advantages" data-anchor="advantages">Преимущества </a><a class="footer__link" href="#equipment" data-anchor="equipment">Оборудование</a><a class="footer__link" href="#doctors" data-anchor="doctors">Врачи</a><a class="footer__link" href="#about" data-anchor="about">О клинике</a><a class="footer__link" href="#tariffs" data-anchor="tariffs">Тарифы</a><a class="footer__link" href="#reviews" data-anchor="reviews">Отзывы</a><a class="footer__link" href="#faq" data-anchor="faq">FAQ</a>
        </div>
        <div class="footer__column">
          <p class="footer__caption">Мессенджеры</p>
          <div class="footer__link_wrap"><a class="footer__link" href="https://wa.me/message/DIAAF5CZVO7GL1" target="_blank">WhatsApp 
              <svg class="icon">
                <use xlink:href="#arrow_diagon"></use>
              </svg></a>
            <p class="footer__link_text">Написать</p>
          </div>
          <div class="footer__link_wrap"><a class="footer__link" href="https://t.me/CoskinRu" target="_blank">Telegram 
              <svg class="icon">
                <use xlink:href="#arrow_diagon"></use>
              </svg></a>
            <p class="footer__link_text">Написать</p>
          </div>
        </div>
        <div class="footer__column">
          <p class="footer__caption">Соц сети</p>
          <div class="footer__link_wrap"><a class="footer__link" href="https://www.instagram.com/coskin.clinic/" target="_blank">Instagram 
              <svg class="icon">
                <use xlink:href="#arrow_diagon"></use>
              </svg></a>
            <p class="footer__link_text">Подписаться</p>
          </div>
        </div>
        <div class="footer__column">
          <p class="footer__caption">Адрес</p>
          <div class="footer__link_wrap"><a class="footer__link" href="https://yandex.ru/maps/-/CDF6fSmg" target="_blank">Станюковича, 16</a>
            <p class="footer__link_text">Владивосток</p>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <p class="footer__copyright">© {{ 'now' | date('Y') }} Coskin LLC · All rights reserved.</p>
        <div class="footer__itome_letters"><img class="image" data-src="/themes/itome/assets/img/itome_letters.svg" alt="" data-lazy=""/>
        </div>
        <button class="footer__copyright footer__copyright--btn" data-btn-top="">Подняться наверх 
          <svg class="icon">
            <use xlink:href="#arrow_right"></use>
          </svg>
        </button>
      </div>
    </div>
  </footer>