<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <title>Coskin — Лазерная эпиляция на Александритовом лазере Candela </title>
    <link rel="stylesheet" href="/themes/itome/assets/css/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/themes/itome/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/themes/itome/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/themes/itome/assets/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/themes/itome/assets/favicon/favicon.ico">
    <link rel="manifest" href="/themes/itome/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="/themes/itome/assets/favicon/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="/themes/itome/assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-config" content="/themes/itome/assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="robots" content="noindex, nofollow">
</head>