<header class="header">
    <div class="header__container container">
      <div class="header__line"> <a class="header__logo"><img class="image" data-src="/themes/itome/assets/img/logo_black.svg" alt="" data-lazy=""/></a>
        <div class="header__wrap">
          <div class="header__socials"><a class="header__socials_link" href="https://www.instagram.com/coskin.clinic/" target="_blank">
              <svg class="icon">
                <use xlink:href="#icon_inst"></use>
              </svg><span class="text">Instagram</span></a><a class="header__socials_link" href="https://t.me/CoskinRu" target="_blank">
              <svg class="icon">
                <use xlink:href="#icon_tg"></use>
              </svg><span class="text">Telegram</span></a><a class="header__socials_link" href="https://wa.me/message/DIAAF5CZVO7GL1" target="_blank">
              <svg class="icon">
                <use xlink:href="#icon_wa"></use>
              </svg><span class="text">WhatsApp</span></a><a class="header__socials_link" href="tel:8 (423) 202-90-08">8 (423) 202-90-08</a></div>
          <a class="header__btn btn btn--filled btn--small" href="https://wa.me/message/DIAAF5CZVO7GL1" target="_blank"><span class="btn__text">Записаться</span></a>
          <button class="header__menu" data-linked-modal="modal_menu">
            <svg class="icon">
              <use xlink:href="#menu"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
</header>
