.about_advan_slider {
	border-radius: 24px;
    overflow: hidden;
    
    height: em(472);
    width: em(760);

    margin-left: 0;

    @media(max-width: 1800px) {
        width: em(560);
    }

    @media(max-width: 1300px) {
        width: 100%;
        height: em(190);
        border-radius: 10px;
    }

    @media(max-width: 500px) {
        height: auto;
        min-height: em(240);
    }

    &__slide {
        height: 100%;

        .image {
            object-fit: cover;
        }
    }

    &__pagination {

        .bullet {
            width: 100%;

            padding: 1.95rem 0;

            display: flex;
            align-items: center;

            border-bottom: 2px solid #EAEAEF;

            cursor: pointer;

            position: relative;

            @media(max-width: 500px) {
                padding: 1.5rem 0;
            }

            &:first-of-type {
                padding-top: 0;
            }

            &::before {
                content: '';
                position: absolute;
                display: none;
                width: 100%;
                height: 2px;
                background: #000;
                bottom: -2px;
                left: 0;
                transform: scale3d(0,1,1);
                transform-origin: left;
                transition: transform 3.2s;
            }

            .number {
                width: 24px;

                font-family: $title-font;
                color: $c-grey;
                font-weight: 500;
                font-weight: 17px;
                line-height: 1em;

                letter-spacing: -0.02em;

                margin-right: 5rem;

                transition: color .2s;

                @media(max-width: 1300px) {
                    font-size: em(14);
                    margin-right: 2.5rem;
                }

                @media(max-width: 500px) {
                    font-size: em(12);
                    margin-right: 1.75rem;
                }
            }

            .text {
                font-family: $title-font;
                color: $c-grey;
                font-weight: 500;
                font-size: em(28);
                line-height: 1.25rem;
                letter-spacing: -0.02em;

                transition: color .2s;

                @media(max-width: 1300px) {
                    font-size: em(24);
                }

                @media(max-width: 500px) {
                    font-size: em(20);
                }
            }
        }

        .swiper-pagination-bullet-active {

            .text,
            .number {
                color: #000;
            }

            &::before {
                display: block;
                animation: loading 3.2s forwards;
            }
        }
    }
}

@keyframes loading {

	from {
		transform: scale3d(0, 1, 1);
	}

	to {
		transform: scale3d(1, 1, 1);   
	}
}