.container {
	display: flex;
	flex-direction: column;

	width: 100%;
	max-width: em(1840);
	margin: 0 auto;

	@media(max-width: 1800px) {
		max-width: em(1380);
	}

	@media(max-width: 1300px) {
		max-width: em(740);
	}

	@media(max-width: 500px) {
		padding-left: em(14);
		padding-right: em(14);
	}

	&--first {
		padding-top: em(104);
		padding-bottom: em(40);

		@media(max-width: 1300px) {
			padding-top: em(92);
			padding-bottom: em(20);
		}
	}
}
