.discount_banner {
	position: relative;
    overflow: hidden;

    &__content {
        padding: em(40) 0;

        display: flex;
        flex-direction: column;

        &::before {
            content: '';
            display: block;
            width: 100vw;
            height: 100%;
            background: #F9F9FC;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 0;
        }
    }

    &__title {
		font-family: $title-font;
		font-size: em(40);
		line-height: em(44,40);
		font-weight: 500;
		color: #000;
        letter-spacing: -0.02em;

		@media(max-width: 1300px) {
			font-size: em(32);
			line-height: em(36,32);
		}

		@media(max-width: 500px) {
			font-size: em(28);
			line-height: em(32,28);
		}
    }

    &__subtitle {
		font-family: $title-font;
		font-size: em(24);
		line-height: em(28,24);
		font-weight: 500;
		color: #000;
        letter-spacing: -0.02em;

        margin-top: .5rem;

		@media(max-width: 1300px) {
			font-size: em(20);
			line-height: em(24,20);
		}

		@media(max-width: 500px) {
			font-size: em(16);
			line-height: em(20,16);
		}
    }

    &__text {
		font-size: em(16);
		line-height: em(20,16);
		font-weight: 500;
		color: #68696C;
        letter-spacing: -0.02em;

        margin-top: 1.25rem;

		@media(max-width: 1300px) {
			font-size: em(14);
			line-height: em(18,14);
		}
    }

    &__buttons {
        margin-top: 2rem;

        display: grid;
        grid-template-columns: auto auto;
        gap: em(12);

        width: fit-content;

        @media(max-width: 500px) {
            grid-template-columns: 100%;
            width: 100%;
        }
    }

    &__btn {
        width: fit-content;

        @media(max-width: 500px) {
            width: 100%;
        }
    }
}