.equip_table_card {
	border-radius: 24px;
    border: 1px solid #EAEAEF;
    background: #F9F9FC;	

    padding: em(28);
    padding-bottom: em(48);

    display: flex;
    flex-direction: column;

    @media(max-width: 1300px) {
        border-radius: 20px;
        padding: em(20);
    }

    &__number {
        width: 44px;
        height: 26px;

        font-family: $title-font;
        font-weight: 500;
        font-size: em(14);
        line-height: 1.5rem;
        color: #fff;

        border-radius: 20px;
        background: #000;

        margin-bottom: 1.25rem;

        display: flex;
        align-items: center;
        justify-content: center;

        @media(max-width: 1300px) {
            margin-bottom: 1rem;
        }
    }

    &__title {
        font-family: $title-font;
        font-size: em(20);
        line-height: em(24,20);
        font-weight: 500;
        color: #000; 

        letter-spacing: -0.02em;
    }

    &__text {
        font-family: $text-font;
        font-size: em(16);
        font-weight: 500;
        line-height: em(20,16);
        color: #68696C;
        letter-spacing: -0.02em;

        margin-top: .75rem;

        @media(max-width: 1300px) {
            font-size: em(14);
            line-height: 1.25rem;

            margin-top: 10px;
        }
    }
}