.faq_block {
    width: 100%;

    padding: em(28);

    display: flex;
    flex-direction: column;


    @media(max-width: 1300px) {
        padding: em(20);
    }

    &.is-open {

        .faq_block__content {
            margin-top: em(16);

            max-height: 20em;
            opacity: 1;
            pointer-events: all;

            @media(max-width: 500px) {
                margin-top: 12;
            }
        }

        .rotate {
            transform: rotate(90deg) translateY(-100%);
        }
    }

    &__btn {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        text-align: left;

        padding: 0;
    }

    &__title {
        font-family: $title-font;
        font-size: em(20);
        line-height: em(24,20);
        font-weight: 500;
        color: #000;

        @media(max-width: 500px) {
            font-size: em(18);
            line-height: em(22,18);
        }
    }

    &__icon {
        width: 40px;
        height: 40px;

        margin-left: em(28);

        flex: none;

        display: flex;
        align-items: center;
        justify-content: center;

        background: #000;
        border-radius: 50%;

        @media(max-width: 1300px) {
            width: 32px;
            height: 32px;
        }

        .icon {
            width: 20px;
            height: 20px;

            @media(max-width: 1300px) {
                width: 18px;
                height: 18px;
            }
            
            .rotate {
                transition: transform .2s;
            }
        }

    }

    &__content {
        margin-top: 0;
        max-height: 0;
        opacity: 0;
        pointer-events: none;

        width: 100%;

        transition: margin .2s, max-height .2s, opacity .2s;
    }

    &__text {
        font-size: em(16);
        line-height: em(20,16);
        font-weight: 400;
        color: $c-grey;
        max-width: 50%;

        @media(max-width: 1800px) {
            max-width: 66%;
        }

        @media(max-width: 1300px) {
            max-width: 90%;
        }

        @media(max-width: 500px) {
            font-size: em(14);
            line-height: em(18,14);
        }
    }

    & + & {
        border-top: 1px solid #EAEAEF;
    }
}