.prices_tabs_block {

    @media(max-width: 500px) {
        width: 100%;
    }
	
    &__caption {
        font-size: em(16);
        line-height: em(20);
        font-weight: 500;
        color: $c-grey;
        letter-spacing: -0.02em;
    }

    &__slider {
        width: fit-content;
        margin-top: .5rem;

        padding: 4px;
        
        border-radius: 100px;
        border: 1px solid #EAEAEF;
        background: #FFF;

        display: flex;
        align-items: center;

        @media(max-width: 500px) {
            width: 100%;

            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        &--count {

            @media(max-width: 500px) {
                grid-template-columns: 100%;
                border-radius: 12px;
            }
        }
    }

    &__slider_btn {
        font-family: $button-font;
        font-weight: 600;
        font-size: em(14);
        line-height: 1.25rem;
        letter-spacing: -0.02em;
        color: #68696C;
        background: #FFF;

        border-radius: 100px;

        overflow: hidden;

        padding: 10px 1.25rem;

        transition: color .2s;

        position: relative;

        // &::before {
        //     content: '';
        //     display: block;
        //     position: absolute;
        //     width: 100%;
        //     height: 100%;
        //     background: #000;
        //     top: 0;
        //     left: 0;
        //     opacity: 0;

        //     transition: opacity .2s;
        // }

        &.is-active {
            color: #FFF;
            background: #000;

            // &::before {
            //     opacity: 1;
            // }
        }

        &--count {

            @media(max-width: 500px) {
                text-align: left;

                display: flex;
                align-items: center;
                justify-content: space-between;

                border-radius: 8px;
            }

            .icon_check {
                width: 18px;
                height: 18px;
                fill: #FFF;

                display: none;

                @media(max-width: 500px) {
                    display: initial;
                }
            }
        }
    }

    & + & {
        margin-left: em(40);

        @media(max-width: 500px) {
            margin-left: 0;
            margin-top: em(20);
        }
    }
}