.prices {
	
    &__tabs {
        margin-top: em(60);

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media(max-width: 1300px) {
            margin-top: em(40);
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__tabs_wrap {
        display: flex;

        @media(max-width: 1300px) {
            margin-bottom: em(20);
        }

        @media(max-width: 500px) {  
            flex-direction: column;
            width: 100%;
        }
    }

    &__table {
        width: 100%;

        margin-top: em(28);

        border-radius: 16px;
        border: 1px solid #EAEAEF;
        background: #FFF;

        padding: .5rem;

        @media(max-width: 500px) {
            padding: .25rem;
            border-radius: 12px;
        }
    }

    &__line {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr;

        padding: .75rem 1.25rem;
        border-radius: 12px;
        background: #FFF;
        color: #000;

        transition: background .2s;

        @media(max-width: 1300px) {
            grid-template-columns: 2fr 1fr 1fr;
        }

        @media(max-width: 500px) {
            padding: 10px .75rem;
        }

        &:hover {
            background: #000;
            color: #fff;

            .prices__text--grey {
                color: #FFF;
            }
        }
    }

    &__text {
        font-family: $text-font;
        font-size: em(16);
        line-height: em(20);
        font-weight: 500;
        letter-spacing: -0.02em;
        
        @media(max-width: 500px) {
            font-size: em(14);
            line-height: em(18,14);
        }

        &--bold {
            font-weight: 700;
        }

        &--price {
            display: flex;
            gap: 14px;


            @media(max-width: 1300px) {
                margin-left: auto;
            }
        }

        &--defaultPrice {
            color: gray;
            text-decoration: line-through;
        }

        &--grey {
            padding: 0;
            text-align: left;
            color: $c-grey;

            margin-left: auto;

            @media(max-width: 1300px) {
                display: none;
            }
        }
    }
}