.reviews {
    overflow: hidden;
    
    &__tabs {
        display: grid;
        grid-template-columns: repeat(4,auto);
        gap: em(8);

        margin-top: em(60);

        width: fit-content;

        @media(max-width: 1300px) {
            margin-top: em(40);
        }

        @media(max-width: 500px) {
            overflow: scroll hidden;
            width: 100%;

            scrollbar-width: none;
            -webkit-scrollbar-width: none;

            &::-webkit-scrollbar {
                height: 0px;
                width: 0px;
                background: transparent;
            }
        }
    }

    &__tabs_btn {
        display: flex;
        align-items: center;

        width: fit-content;
    
        padding: .875rem 1.25rem;

        border-radius: 100px;
        border: 1px solid #EAEAEF;
        background: #FFF;

        overflow: hidden;

        transition: border .2s;

        &:hover {
            border: 1px solid #000;
        }

        .icon {
            width: 20px;
            height: 20px;

            margin-right: 6px;
        }

        .text {
            font-family: $button-font;
            font-size: em(14);
            line-height: 1.25rem;
            font-weight: 500;
            letter-spacing: -0.02em;

            white-space: nowrap;

            color: #000;

            @media(max-width: 500px) {
                font-size: em(18);
                line-height: em(22,18);

                letter-spacing: -0.02em;
            }
        }
    }

    &__slider {
        overflow: visible;

        margin-top: em(28);
    }

    &__nav {
        margin: em(28) auto 0;
    }
}