.section_block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&--center {
		align-items: center;
		text-align: center;
		justify-content: center;
		width: 100%;

		position: relative;
		z-index: 2;
	}

	&__title {
		font-family: $title-font;
		font-size: em(60);
		line-height: em(64,60);
		font-weight: 500;
		color: $c-grey;

		@media(max-width: 1300px) {
			font-size: em(40);
			line-height: em(44,40);
		}

		@media(max-width: 500px) {
			font-size: em(32);
			line-height: em(36,32);
		}

		.inner_text {
			transition: color .5s .5s linear;
			
			&.pop_color {
				color: #000;
			}
		}
		

		.home & {
			font-size: em(64);
			line-height: em(68,64);
			//color: #000;

			@media(max-width: 1300px) {
				font-size: em(52);
				line-height: em(56,52);
			}

			@media(max-width: 500px) {
				font-size: em(32);
				line-height: em(38,32);
			}
		}
	}

	&__text {
		font-family: $text-font;
		font-weight: 300;
		font-size: em(16);
		line-height: em(20,16);
		color: #000;
		letter-spacing: -0.02em;

		margin-top: 1.25rem;

		@media(max-width: 1300px) {
			font-size: em(14);
			line-height: em(18,14);

			margin-top: 1rem;
		}
	}

	&__buttons {
		display: grid;
		grid-template-columns: auto auto;
		gap: 2rem;
		align-items: center;

		margin-top: em(60);

		@media(max-width: 1300px) {
			margin-top: em(40);
		}

		@media(max-width: 500px) {
			width: 100%;
			gap: em(28);
		}
	}

	&__btn {
		
		@media(max-width: 500px) {
			width: 100%;
		}
	}
}