.slider {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;

    @media(max-width: 500px) {
        // overflow: visible;
    }

    &__nav {
        display: flex;
        align-items: center;
        margin-top: em(50);

        @media(max-width: 500px) {
            flex-direction: column;
            margin-top: em(24);
        }
    }

    &__scroll {
        opacity: 1!important;
        flex: 1;
        height: 2px;
        border-radius: 3px;
        background: #ECECEC;

        @media(max-width: 500px) {
            width: 100%;
            flex: auto;
        }
        
        .swiper-scrollbar-drag {
            height: 2px;
            background: #000;
        }
    }

    &__pagination {
        font-family: $text-font;
        font-size: em(18);
        line-height: dm(22,18);
        font-weight: 300;
        color: $c-primary;

        margin: 0 em(15);

        &.swiper-pagination-lock {
            display: none;
        }
    }

    &__buttons {
        display: flex;
        // height: 22px;

        @media(max-width: 500px) {
            // margin-left: 0;
            // margin-top: em(20);
        }
    }

    &__button {
        width: 48px;
        height: 48px;
        padding: 0;

        border: 1px solid #EAEAEF;
        border-radius: 50%;
        background: white;

        display: flex;
        align-items: center;
        justify-content: center;
        flex: none;

        transition: border .2s, background .2s;

        @media(max-width: 1300px) {
            width: 40px;
            height: 40px;
        }

        &--prev {
            transform: scaleX(-1);
        }

        &:hover {
            background: #000;
            border: 1px solid #000;

            svg {
                fill: white;
            }
        }

        svg {
            width: 20px;
            height: 20px;
            fill: #000;

            transition: fill .2s;

            @media(max-width: 1300px) {
                width: 16px;
                height: 16px;
            }
        }

        &.swiper-button-lock {
            display: none;
        }

        &.swiper-button-disabled {
            opacity: .5;
            pointer-events: none;
        }

        & + & {
            margin-left: .5rem;
        }
    }
}